.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 856px;
}

.u-section-1 .u-form-1 {
  height: 205px;
  margin: -543px 129px 0 58px;
}

.u-section-1 .u-input-1 {
  letter-spacing: 3px;
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  letter-spacing: 3px;
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-1 .u-shape-1 {
  width: 592px;
  height: 555px;
  animation-duration: 1000ms;
  margin: 425px 109px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 747px;
  min-height: 372px;
  height: auto;
  margin: -491px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  height: 50px;
  margin: 30px auto 0;
  padding: 11px 24px 11px 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}